* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background: var(--color-bg);
}

.navbar a {
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--color-text);
    text-decoration: none;
}

.navbar-link a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 25px;
    padding-right: 15px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.navbar-link a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-banner);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-link a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-nav);
    z-index: 1;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar-menu_container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-menu_container p {
    margin: 1rem 0;
}


@media only screen and (max-width: 768px){
    .HeroImage {
        display: none;
    }
}